*{
    box-sizing: border-box;
    /* font-family: sans-serif; */
}
body{
    padding: 0px;
    margin: 0px;
}
header{
    /* margin: 0px; */
    /* background-color: wheat; */
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 150px;
    background-color: rgb(60, 146, 118);
    color: white;
}
.top-icon{
    padding: 30px 0px;
    margin-right: 30px;
}
.top-icon i:hover{
    color: blanchedalmond;
    cursor: pointer;
}

header nav{
    padding: 20px 0px;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
nav ul li{
    padding: 10px 20px;
    font-size: 20px;
    /* text-decoration: none; */
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-family: sans-serif;
}
nav ul li a:hover{
    color: blanchedalmond;
}
nav ul li:hover{
    transform: scale(1.07);
}
.icons{
    padding: 20px 0px;
    margin-right: 30px;
}
.icons i{
    padding: 10px;
    margin: 15px 5px;
    background-color: rgb(36, 87, 70);
    border-radius: 5px;
}
.icons i:hover{
    color: blanchedalmond;
    cursor: pointer;
}
.sec{
    width: 100%;
    /* height: 100vh; */
}
.sec-1{
    display: flex;
    padding: 0px 100px 0px 150px;
    background-color: rgb(60, 146, 118);
    color: white;
    height: 80vh;
}
.top-1{
    margin-top: 50px;
}
.top-1 h3{
    font-size: 50px;
    letter-spacing: 0.04em;
}
.tp-1{
    font-size: 16px;
    line-height: 1.4em;
    font-family: sans-serif;
}
.top-1-1{
    display: flex;
}
.top-1-1 button{
    font-family: sans-serif;
    width: 150px;
    height: 50px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: rgb(36, 87, 70);
    border: none;
    border-radius: 5px;
    margin-right: 30px;
}
.top-1-1 button:hover{
    color: blanchedalmond;
    cursor: pointer;
    /* font-weight: bold; */
}
.top-1-1 p{
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
}

.top-2{
    margin: 100px 0px 0px 0px;
    /* width: 400px; */
    transform: scale(1.3);
}

.fa-solid{
    padding: 5px 10px 0px 10px;
}
.ico-p{
    display: flex;
}
.ico-p:hover{
    color: blanchedalmond;
    cursor: pointer;
}

.cen{
    text-align: center;
}
.sec-2{
    padding: 0px 150px;
    height: 100vh;
}
.sec2-head{
    margin-top: 40px;
}
.sec2-head h1{
    font-size: 36px;
    margin: 10px 0px;
}
.sec2-head p{
    margin-top: 0px;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}

.sec2-products{
    display: flex;
}
.cards{
    margin: 20px 30px;
    height: 500px;
    /* color: rgb(36, 87, 70); */
}
.cards img{
    border-radius: 10px ;
    width: 300px;
    height: 350px;
    padding: 30px 0px 0px 0px;
    background-color: rgb(60, 146, 118);

}
.cards h3{
    font-size: 32px;
    margin: 30px 0px 0px 0px;
    line-height: 30px;
}
.cards a{
    font-size: 24px;
    font-weight: 700;
    color: black;
    line-height: 20px;
}
.cards p:hover{
    transform: scale(1.18);
}
.cards a:hover{
    color: rgb(36, 87, 70);
    
}
.angle{
    align-self: center;
    cursor: pointer;
    padding: 0px 5px 5px 0px;
    color: rgb(36, 87, 70);
}
.angle:hover{
    /* color: rgb(36, 87, 70); */
    transform: scale(1.1);
    background-color: rgba(60, 146, 117, 0.856);
    border-radius: 25px;
    text-align: center;
}

.sec-3{
    display: flex;
    justify-content: space-between;
    background-color: rgb(60, 146, 118);
    color: white;
    height: 70vh;
    padding-top: 60px;
}
.sec3-prod{
    /* padding-bottom: 200px; */
    margin: 0px;
}
.sec3-d{
    display: flex;
    margin: 0px 30px;
}
.sec3-d i{
    margin: 30px 30px;
    padding: 20px 0px 0px 0px;
    width: 80px;
    text-align: center;
    height: 80px;
    border: 2px solid #ffff;
    color: #ffff;
    border-radius: 50px;
}
.sec3-d h3{
    font-family: sans-serif;
    font-size: 24px;
    /* line-height: 22px; */
    margin: 30px 0px 0px 0px;
}
.sec3-d p{
    /* line-height: 1.25em; */
    /* margin: 10px 0px; */
    /* text-align: center; */
}