*{
    box-sizing: border-box;
    /* font-family: sans-serif; */
}
body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}
header{
    margin: 0px;
    /* background-color: wheat; */
    /* height: 70px; */
    min-width: max-content;
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
    background-color: rgb(60, 146, 118);
    color: white;
}

.top-icon i{
    transition: 0.3s;
    rotate: -15deg;
}
.top-icon i:hover{
    color: blanchedalmond;
    cursor: pointer;
    scale: 1.1;
}

/* header nav{
    padding: 20px 0px;
} */
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
nav ul li{
    padding: 0px 20px;
    font-size: 20px;
    /* text-decoration: none; */
    transition: 0.3s;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-family: sans-serif;
}
nav ul li a:hover{
    color: blanchedalmond;
}
nav ul li:hover{
    transform: scale(1.07);
}

.icons{
    padding: 10px 2px;
    margin: 0px 30px;
    
}
.icons i{
    padding: 10px;
    margin: 0px 5px;
    background-color: rgb(36, 87, 70);
    border-radius: 5px;
    transition: 0.3s;
}
.icons i:hover{
    color: blanchedalmond;
    cursor: pointer;
    scale: 1.10;
}
.hide{
    display: none;
}
.ic-hide{
    display: none !important;
}

.sec{
    margin: 0px;
    /* min-width: fit-content; */
    /* height: 100vh; */
}
.sec-1{
    display: flex;
    /* padding: 0px 100px 0px 150px; */
    background-color: rgb(60, 146, 118);
    color: white;
    min-height: 80vh;
    flex-wrap: wrap-reverse;
    /* width: ; */
    justify-content: space-evenly;
    /* padding-bottom: 30px; */
}
.top-1{
    /* margin-top: 50px; */
    width: 500px;
    padding-bottom: 30px;
}
.top-1 h3{
    /* font-size: 3.5vw; */
    font-size: calc(1.4vw + 2.7vh + 1vmin);
    /* font-size: 3.5vw; */
    letter-spacing: 0.04em;
}
.tp-1{
    /* font-size: 16px; */
    font-size: calc(0.025vw + 0.6vh + 2vmin);
    line-height: 1.4em;
    font-family: sans-serif;
}
.top-1-1{
    display: flex;
}
.btn{
    font-family: sans-serif;
    width: 150px;
    height: 50px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: rgb(36, 87, 70);
    border: none;
    border-radius: 5px;
    margin-right: 30px;
}
.btn:hover{
    color: blanchedalmond;
    cursor: pointer;
    /* font-weight: bold; */
}
.top-1-1 p{
    font-weight: 700;
    font-family: sans-serif;
}

.top-2{
    /* margin: 100px 0px 0px 0px; */
    justify-self: center;
    align-self: center;
    margin: 0px;
    padding: 0px;
    /* height: 300px; */
    max-width: 600px;
    transform: scale(1.3);
}
.top-2 img{
    width: 100%;
    max-height: 500px;
    padding: 30px;
}

.fa-solid{
    padding: 5px 10px 0px 10px;
}
.ico-p{
    display: flex;
}
.ico-p:hover{
    color: blanchedalmond;
    cursor: pointer;
}

.cen{
    text-align: center;
}
.sec-2{
    padding: 0px 150px;
    min-height: 100vh;
}
.sec2-head{
    margin-top: 40px;
}
.top-heading{
    font-size: 36px;
    margin: 10px 0px;
}
.sec2-head p{
    margin-top: 0px;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}

.sec2-products{
    display: flex;
}
.cards-container{
    display: flex;
    width: 75vw;
    overflow-y: scroll;
    width: 100%;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.cards-container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.cards{
    margin: 20px 30px;
    height: 500px;
    scale: 0.9;
    /* color: rgb(36, 87, 70); */
}
.cards img{
    border-radius: 10px ;
    width: 300px;
    height: 350px;
    padding: 30px 0px 0px 0px;
    background-color: rgb(60, 146, 118);

}
.cards h3{
    font-size: 32px;
    margin: 30px 0px 0px 0px;
    line-height: 30px;
}
.cards a{
    font-size: 24px;
    font-weight: 700;
    color: black;
    line-height: 20px;
}
.cards p:hover{
    transform: scale(1.18);
}
.cards a:hover{
    color: rgb(36, 87, 70);
    
}
.angle{
    align-self: center;
    cursor: pointer;
    padding: 0px 5px 5px 0px;
    color: rgb(36, 87, 70);
    z-index: 1;
}
.angle:hover{
    transform: scale(1.1);
    background-color: rgba(60, 146, 117, 0.856);
    border-radius: 25px;
    text-align: center;
}

.sec-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(60, 146, 118);
    color: white;
    width: 100%;
    min-height: 70vh;
    padding: 30px 150px 30px 150px;
}
.sec3-prod img{
    width: 120px;
    height: 450px;
}
.sec3-d{
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 350px;
    height: 160px;
}
.sec3-d i{
    margin: 10px 15px;
    padding: 20px 0px 0px 0px;
    width: 80px;
    text-align: center;
    height: 80px;
    border: 2px solid #ffff;
    color: #ffff;
    border-radius: 50px;
}
.sec3-d h3{
    font-family: sans-serif;
    font-size: calc(1vw + 1vh + 0.5vmin);
    line-break: loose;
    margin: 10px 0px 0px 0px;
}
.sec3-d p{
    margin: 10px 0px 0px;
    font-size: 14px;
}
.sec-4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.sec4-l{
    display: flex;
    width: 600px;
}
.sec4-r{
    width: 400px;
}
.sec4-d-l, .sec4-d-r-t{
    width: 300px;
    height: 400px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec4-d-l{
    background-color: blanchedalmond;
}
.sec4-d-l img{
    width: 60%;
    height: 80%;
}
.sec4-d-r-t{
    background-color: rgb(60, 146, 118);
    position: relative;
    right: 80px;
    bottom:50px;
}
.sec4-d-r-t img{
    transform: rotate(-20deg);
    width: 60%;
    height: 80%;

}
.sec4-d-r-b{
    background-color: white;
    box-shadow: 4px 4px #9c9c9c86;
    width: 225px;
    height: 70px;
    position: relative;
    right: 5px;
    bottom: 70px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 30px; */
}

.sec4-d-col{
    background-color: rgb(173, 173, 44);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1.5px solid white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec4-d-col img{
    width: 100%;
    height: 100%;
}
.sec4-d-col-1{
    position: relative;
    left: 16px;
    background-color: rgb(60, 146, 118);
}
.sec4-d-col-2{
    position: relative;
    left: 8px;
    background-color: rgb(33, 145, 107);
}
.sec4-d-col-3{
    position: relative;
    left: 0px;
    background-color: rgb(218, 145, 50);
}
.sec4-d-col-4{
    position: relative;
    right: 8px;
    background-color: pink;
}
.sec4-d-col-5{
    background-color: rgb(243, 161, 38);
    position: relative;
    right: 16px;
    text-align: center;
    color: white;
    font-weight: 600;

}
.sec4-d-col-5 p{
    font-size: 13px;
}

.sec-5{
    min-height: 80vh;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(60, 146, 118);
}
.sec5{
    width: 350px;
    padding: 50px 0px 0px 0px;
    color: white;
    margin: 50px;
}
.sec5 input,button{
    margin: 1px;
    height: 40px;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    border:none;
}
.sec5 input{
    width: 80%;
    color: rgb(36, 87, 70);
}
.sec5 button{
    width: 28%;
    background-color: rgb(36, 87, 70);
    color: white;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    cursor: pointer;
}
.sec5 button:hover{
    color: blanchedalmond;
}
.sec5 button .fa-solid{
    scale: 0.9;
    margin: 0px;
    padding: 3px 0px 0px 3px;
}
.sec5 img{
    transform: rotate(-20deg);
    max-height: fit-content ;
}
.newsletter-form{
    /* border: 1px solid white; */
    background-color: white;
    padding: 0px;
    border-radius: 5px;
    display: flex;
}
.sec-6{
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.sec6{
    width: 400px;
    font-family: sans-serif;
    text-align: justify;
    padding: 30px 30px;
}
.sec6-1{
    text-align: justify;
    font-size: 16px;
    letter-spacing: 0.12rem;
    /* margin: 0px; */
    color: rgb(99, 99, 99);
}
.sec6-1 i{
    rotate: -15deg;
    color: rgb(255, 196, 108);
}
.sec6-1 i:hover{
    color: rgb(231, 153, 35);
    scale: 1.1;
}

.sec6-2{
    display: flex;
    justify-content: space-around;
}
.sec6-m a{
    color: rgb(99, 99, 99);
    text-decoration: none;
    padding: 10px;
}
.sec6-m a:hover{
    color: black;
    scale: 1.1;
}
.sec6-m a:first-child{
    color: black !important;
}
.sec6-m{
    display: flex;
    flex-direction: column;
}
.sec6-icons{
    display: flex;
}
.sec6-icons a{
    background-color: rgb(255, 196, 108);
    border-radius: 100px;
    height: 50px;
    padding: 0px;
    margin: 10px;
}
.sec6-icons img{
    scale: 0.5;
    /* margin: 0 auto; */
    
}
.apps{
    display: flex;
}
.apps img{
    width: 100px;
    height: 35px;
    margin: 0px 20px 0px 0px;
    border-radius: 5px;
}
hr{
    width: 90%;
    color: rgb(184, 182, 182);
}

footer{
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    padding: 10px 0px;
    color: rgb(77, 75, 75);
}

@media only screen and (max-width: 1360px) {
    .sec-5-3{
        display: none;
    }
}

  @media only screen and (max-width: 1250px) {
    .sec3-prod{
        display: none;
    }
    .sec4-l{
        scale: 0.9;
        width: 700px;
        margin:50px 20px 0px 20px;
    }
    .sec-4{
        padding: 20px;
        margin: 0px;
    }
    .sec-4{
        justify-content: center;
    }
    .sec4-r{
        width: 700px;
        padding: 0px;
        margin: 0px;
    }
    
    .sec5{
        padding: 0px;
        margin: 20px;
    }
    .sec6-2{
        justify-content: space-between;
    }
  }

  @media only screen and (max-width: 800px) {
    body{
        overflow-x: hidden;
    }
    header{
        padding: 20px;
        margin: 0px;
    }
    header nav{
        display: none;
        padding: 0px;
        margin: 0px;
    }
  
    .hidden{
        display: none !important;
    }

    .hide{
        display: block;
    }
    /* dropdown navbar */
   
    .nav-hidden{
        background-color: rgb(36, 87, 70);
        position: absolute;
        /* float: right; */
        right: 0;
        top: 0;
        margin: 70px 25px !important;
        z-index: 1;
        border-radius: 5px 0px 0px 5px;
        width: 70vw;
        height: 50vh;
    }
    .nav-hidden ul li{
        list-style: none;
        padding: 20px 0px 15px 0px;
        border-bottom: 0.5px solid white;
    }
    .nav-hidden ul li a{
        font-size: 24px;
        text-decoration: none;
        color: rgb(250, 250, 250);
        font-weight: bold;
    }


    .sec-1 img{
        scale: 0.7;
    }
    .top-icon, .icons{
        margin: 0px;
    }
    .sec-1, .sec-2, .sec-3, .sec-4{
        padding: 10px;
        margin: 0px;
        justify-content: center;
    }

    .top-1 h3{
        padding: 0px;
        margin: 0px;
        font-size: calc(5vw + 2vh + 0.2vmin) !important;
    }

    /* section 4 */

    .sec4-l{
        display: flex;
        width: 430px;
    }
    .sec4-r{
        width: 400px;
    }

    .sec4-d-l, .sec4-d-r-t{
        width: 200px;
        height: 300px;
        text-align: center;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sec4-d-l{
        background-color: blanchedalmond;
    }
    .sec4-d-l img{
        width: 60%;
        height: 80%;
    }
    .sec4-d-r-t{
        background-color: rgb(60, 146, 118);
        position: relative;
        right: 35px;
        bottom:30px;
    }
    .sec4-d-r-t img{
        transform: rotate(-20deg);
        width: 60%;
        height: 80%;

    }
    .sec4-d-r-b{
        background-color: white;
        box-shadow: 4px 4px #9c9c9c86;
        width: 170px;
        height: 55px;
        position: relative;
        bottom: 60px;
        border-radius: 5px;
        display: flex;
    }

}